<div class="header navigation">
  <div class="logo-wrapper">
    <a href="{site.url}">
        <img class="wf-logo" src="{site.url('assets/img/ironjacamar-logo.png')}">
    </a>
  </div>
  <div class="nav-container">
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="{site.url('news/')}" class="{#if page.url.path.contains('/news/')}active{/if}">NEWS</a>
        </li>
        <li>
          <div class="dropdown">
            <a href="#" class="{#if page.url.path.contains('/about/')}active{/if}">LEARN</a>
            <div class="dropdown-content">
              <a href="http://localhost:8080/about">Introduction</a>
              <a href="#">Get started</a>
              <a href="https://jakarta.ee/specifications/connectors/2.1/jakarta-connectors-spec-2.1">Specification</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <a target="_blank" href="https://docs.wildfly.org">DOCS</a>
            <div class="dropdown-content">
              <a href="https://www.ironjacamar.org/doc/userguide/1.2/en-US/html_single/index.html">User Guide</a>
              <a href="https://www.ironjacamar.org/doc/developerguide/1.2/en-US/html/index.html">Developer Guide</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <a target="_blank" href="https://docs.wildfly.org">COMMUNITY</a>
            <div class="dropdown-content">
              <a href="#">Ask a question</a>
              <a href="#">Report a bug</a>
              <a href="#">Contribute</a> 
            </div>
          </div>
        </li>

      </ul>
    </nav>
  </div>
</div>
