---
layout: base
---

<div>
    <div class="wildfly-homepage">
      <div class="grid-wrapper">
        <div class="grid__item width-12-12 home-section">
        
          <h2> IronJacamar </h2>
          <h4>
            Implementation of Jakarta EE Connector Architecture 1.7 specification used in WildFly and JBoss EAP.
          </h4>
        </div>

        <div class="grid__item width-12-12 home links">
          <a href="https://www.ironjacamar.org/doc/userguide/1.2/en-US/html/index.html" class="homepage_link">Getting started</a>
        </div>
      </div>
    </div>
</div>
