---
layout: base
---

<div>
    <div class="wildfly-homepage">
      <div class="grid-wrapper">
        <div class="grid__item width-12-12 home-section">
        
          <h2> IronJacamar </h2>
          <p>
          <h4>
            IronJacamar is an implementation of the Jakarta Connectors 2.1 specification used in WildFly application server.
            </h4></p>
            <p>
            <h4>
            Jakarta Connectors specification defines a contract for how so-called Enterprise Information Systems, which include databases, messaging systems, and other servers/systems external  to an application server, integrate with the Jakarta EE Platform. 
          </h4>
          </p>
        </div>

        <div class="grid__item width-12-12 home links">
          <a href="https://www.ironjacamar.org/doc/userguide/1.2/en-US/html/index.html" class="homepage_link">Getting started</a>
        </div>
      </div>
    </div>
</div>
